.standard__input {
  position: relative;
}

.standard__input input {
  color: var(--main-white);
  height: 4rem;
  border: none;
  border-bottom: 1px solid var(--main-grey);
  background-color: var(--main-dark-grey);
  padding-left: 20px;
  font-size: 20px;
  transition: 0.1s ease;
  outline: none;
  box-sizing: border-box;
}

.standard__input label {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  transition: 0.2s all ease-in;
  font-size: 1.5rem;
  pointer-events: none;
  padding: 0 5px;
}

.standard__input input:not(:placeholder-shown) ~ label,
.standard__input input:focus ~ label {
  top: 0px;
  left: 10px;
  font-size: 1rem;
}

.standard__input .underline__tf {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease-in;
  border-bottom: 2px solid #6970f9;
}

.standard__input input:focus ~ .underline__tf {
  transform: scaleX(1);
}
.standard__input input:hover {
  border-bottom: 2px solid var(--main-white);
}
.standard__input input:focus ~ label {
  color: #6970f9 !important;
}
